from dataclasses import dataclass, field


@dataclass
class ExtU_{{ model_name }}_T:
    {%- for key, value in input_map.items() %}
    {{ key }}: {{ value }} = field(default_factory={{ value }}, repr=False)
    {%- endfor %}


@dataclass
class ExtY_{{ model_name }}_T:
    {%- for key, value in output_map.items() %}
    {{ key }}: {{ value }} = field(default_factory={{ value }}, repr=False)
    {%- endfor %}
