[build-system]
requires = ["setuptools", "wheel"]

[project]
name = "{{ package_name }}"
version = "{{ model_version }}+mock"
description = "Python wrapper around '{{ model_name }}' Simulink model"
authors = [{name = "SWAG Engineering UG", email = "contact@swag-engineering.io"}]
license = {file = "LICENSE"}
readme = "README.md"
requires-python = ">=3.8"